<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        [routerLink]="['']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active text-primary"
        >cvTech</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a
            class="nav-link"
            [routerLink]="['']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active text-primary"
            >Home</a
          >
          <a
            class="nav-link"
            [routerLink]="['cv']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active text-primary"
            >CV</a
            >
          <a
            class="nav-link"
            [routerLink]="['Color']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active text-primary"
            >Color</a
          >
          <a
            class="nav-link"
            [routerLink]="['card']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active text-primary"
            >Card</a
          >

          <a
          class="nav-link"
          [routerLink]="['word']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active text-primary"
          >Mini Word</a
        >
        <a
        class="nav-link"
        [routerLink]="['Login']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active text-primary"
        >Login</a
      >



        </div>
      </div>
    </div>
  </nav>
  